@font-face {
    font-family: "fa";
    src: url("./resources/fa-regular-400.ttf");
}

@font-face {
    font-family: "fa";
    src: url("./resources/fa-solid-900.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "fa brands";
    src: url("./resources/fa-brands-400.ttf");
}

@font-face {
    font-family: NotoSansJP;
    src: url("./resources/NotoSansJP-Regular.otf");
}

@font-face {
    font-family: Roboto;
    src: url("./resources/Roboto-Regular.ttf");
}

@font-face {
    font-family: Zcool;
    src: url("./resources/ZCOOLKuaiLe-Regular.ttf");
}

html {
    overflow: hidden;
    /* scroll-behavior: smooth; */
    font-family: -apple-system, NotoSansJP, Roboto, Yahei, "fa", "fa brands";

    body {
        margin: 0;
    }
}