:root {
  --bgcolor: rgb(254, 249, 227);
  --border: rgb(255, 117, 158);
  --emphasis: rgb(234, 228, 206);
  --font-l1: rgb(221, 119, 151);
  --font-l2: rgb(248, 214, 104);
  --paper: rgb(255, 250, 209);
  --link: rgb(161, 210, 233);

  --active: rgb(160, 255, 160);
  --inactive: rgb(145, 133, 133);
  --shadow: rgb(101, 102, 84);
  --shadow-light: rgba(101, 102, 84, 0.274);

  --palette-yellow: rgb(253, 244, 61);
  --palette-pink: rgb(255, 193, 203);
  --palette-red: rgb(253, 74, 74);
  --palette-blue: rgb(171, 221, 238);
  --palette-green: rgb(94, 255, 94);
}