:root {
  --bgcolor: rgb(254, 249, 227);
  --border: rgb(255, 117, 158);
  --emphasis: rgb(234, 228, 206);
  --font-l1: rgb(140, 77, 97);

  --active: rgb(160, 255, 160);
  --inactive: rgb(145, 133, 133);
  --shadow: rgb(101, 102, 84);

  --palette-yellow: rgb(253, 244, 61);
  --palette-pink: rgb(255, 193, 203);
  --palette-red: rgb(253, 74, 74);
  --palette-blue: rgb(171, 221, 238);
  --palette-green: rgb(94, 255, 94);
}