.holder {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;

    #view {
        position: absolute;
        top: 0;
        left: 0;
    }

    @keyframes slidein {
        0% {
            transform: translateY(150px);
        }

        100% {
            transform: translateY(0);
        }
    }
    
    .panel {
        position: absolute;
        right: 140px;
        bottom: 0px;
        width: 350px;
        height: 180px;
        background-color: var(--bgcolor);
        padding: 10px 10px 0 10px;
        border-radius: 2px;

        .palette {
            border: 10px solid var(--border);
            height: 100%;
            width: calc(100% - 20px);
        }
    }
}